.card {
  padding: 20px;
  text-align: center;
  background: url(images/cat.jpg) no-repeat center / cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card > * {
  position: relative;
  z-index: 2;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff8;
  backdrop-filter: blur(2px);
  transition: backdrop-filter 0.3s linear;
}

.card:hover::before {
  backdrop-filter: blur(0);
}

.like::after {
  content: "\2665";
  font-size: 2rem;
  line-height: 1;
  position: absolute;
  z-index: 3;
  color: #f00;
  top: 10px;
  right: 10px;
}
