.popup-wrapper-authorization {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0006;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-wrapper-authorization.hidden {
  display: none;
}

.popup-authorization {
  box-sizing: border-box;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #0004;
}
